<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Plná peněženka</title>

    <link rel="stylesheet" href="{$baseUrl}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$baseUrl}/css/css.css">
    <script type="text/javascript" src="{$baseUrl}/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="{$baseUrl}/js/nette.ajax.js"></script>
    <script type="text/javascript" src="{$baseUrl}/js/js.js"></script>

</head>
<body>

<div class="container">
    {include content}
</div>

</body>
</html>
