includes:
    - console.neon
    - db.neon
    - orm.neon
    - ppApi.neon
    - shops.neon
    - shopsApiSync.neon
    - ui.neon
parameters:
    devMode: false
    pp-api:
        username: zax.drummer@gmail.com
        password: br3aECVMmG9m2
