services:
    - Doctrine\ORM\Tools\Console\Helper\EntityManagerHelper
    console.application:
        class: Symfony\Component\Console\Application
        setup:
            - Doctrine\ORM\Tools\Console\ConsoleRunner::addCommands(@self)
            - @self::getHelperSet()::set(@Doctrine\ORM\Tools\Console\Helper\EntityManagerHelper, "em")
