parameters:
    db:
        dsn: "mysql:host=localhost;dbname=pp"
        username: root
        password: terra
services:
    pdo:
        factory: PDO(%db.dsn%, %db.username%, %db.password%)
        setup:
            - exec("set names utf8")
