parameters:
    ppApi:
        username: zax.drummer@gmail.com
        password: br3aECVMmG9m2
        apiUrl: "https://api.plnapenezenka.cz/"
        guzzleConfig:
            base_uri: %ppApi.apiUrl%
            verify: false
services:
    ppApi.guzzleClient: GuzzleHttp\Client(%ppApi.guzzleConfig%)
    - PlnaPenezenka\Api\Client(%ppApi.username%, %ppApi.password%, @ppApi.guzzleClient)
    - PlnaPenezenka\Api\DataTransformer\CategoryArrayTransformer
    - PlnaPenezenka\Api\DataTransformer\ShopArrayTransformer
