application:
    mapping:
        *: ['PlnaPenezenka\UI', '*Module', '*Presenter']
services:
    - PlnaPenezenka\UI\RouterFactory(%basePath%)
    routing.router:
        class: Nette\Application\IRouter
        factory: @PlnaPenezenka\UI\RouterFactory::create()
